<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-progress-bar [value]="currentIndex / shuffledQuestions.length"></ion-progress-bar>
    <p>Score: {{ score }}</p>
  </div>
  <h2>{{ currentQuestion.title }}</h2>
  <ion-button shape="round" fill="outline" expand="block" (click)="answerQuestion(1)">{{ currentQuestion.a1 }}</ion-button>
  <ion-button shape="round" fill="outline" expand="block" (click)="answerQuestion(2)">{{ currentQuestion.a2 }}</ion-button>
  <ion-button shape="round" fill="outline" expand="block" (click)="answerQuestion(3)">{{ currentQuestion.a3 }}</ion-button>
  <ion-button shape="round" fill="outline" expand="block" (click)="answerQuestion(4)">{{ currentQuestion.a4 }}</ion-button>
</ion-content>
